<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FASHION CLUB</title>
  <link rel="stylesheet" href="static/css/style_index.css">
  <link rel="stylesheet" href="static/css/products.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">


  <style>
    .footer {
      background-color: #f8f8f8;
      padding: 20px;
      text-align: center;
    }

    .footer .container {
      max-width: 1200px;
      margin: 0 auto;
    }

    .footer-text {
      color: #555;
      font-size: 14px;
    }



    .colored-word {
      color: blue;
    }

    .products-hr {
      border: 1px solid black;
      width: 80%;
    }

    .shirts,
    .shoes {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 20px;
    }

    .shirts img,
    .shoes img {
      width: 200px;
      height: auto;
      margin: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: transform 0.2s;
    }

    .shirts img:hover,
    .shoes img:hover {
      transform: scale(1.05);
    }

    @media screen and (max-width: 768px) {

      .shirts,
      .shoes {
        flex-direction: column;
        align-items: center;
      }

      .shirts img,
      .shoes img {
        width: 100%;
        max-width: 300px;
      }
    }

    /* Media Queries for Responsive Design */
    @media screen and (max-width: 768px) {
      .footer {
        padding: 10px;
      }

      .footer-text {
        font-size: 12px;
      }
    }

    label {
      font-size: 1.2rem;
      font-weight: bold;
      margin-right: 1rem;
    }

    input[type="number"] {
      padding: 0.5rem;
      font-size: 1.2rem;
      border: 2px solid #ccc;
      border-radius: 5px;
    }

    button {
      padding: 0.5rem 1rem;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: bold;
    }

    button:hover {
      background-color: #0062cc;
    }

    #total-price.generated {
      color: green;
      font-weight: bold;
    }

    select {
      font-size: 1.2rem;
      padding: 0.5rem;
      border: 2px solid #ccc;
      border-radius: 5px;
      margin-right: 1rem;
    }
  </style>

</head>

<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
      <a class="navbar-brand " href="{{ url_for('index')}}"><span style="color: #F01C9C;">Fashion Avenue</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
          <li class="nav-item justify-content-end">
            <a class="nav-link active" aria-current="page" href="{{ url_for('index')}}">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('product_men')}}">Men</a></li>
              <li><a class="dropdown-item" href="{{ url_for('product_women')}}">Women</a></li>
              <li><a class="dropdown-item" href="{{ url_for('product_kid')}}">Kid</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contact')}}">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('stats')}}">Statistics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login')}}">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <h1>
    <center><span class="colored-word">Men</span>
  </h1>
  </center>
  <center><img src="static/images/products-img/men/men-main.jpeg" alt="" id="men_image">
  </center>
  <center><button id="myButton" onclick="hideButton()">Click me</button>
  </center>

  <center>
    <hr class="products-hr">
  </center>
  <br><br>


  <div class="shirts">
    <a href="#" data-toggle="modal" data-target="#shirt1-modal">
      <img src="static/images/products-img/men/shirt1.png">
    </a>

    <a href="#" data-toggle="modal" data-target="#shirt2-modal">
      <img src="static/images/products-img/men/joggers1.png">
    </a>
    <a href="#" data-toggle="modal" data-target="#shirt3-modal">
      <img src="static/images/products-img/men/jeans2.png">
    </a>
  </div>

  <div class="shoes">
    <a href="#" data-toggle="modal" data-target="#shoe1-modal">
      <img src="static/images/products-img/men/shoe1.png" alt="">
    </a>
    <a href="#" data-toggle="modal" data-target="#shoe2-modal">
      <img src="static/images/products-img/men/shoe2.png" alt="">
    </a>
    <a href="#" data-toggle="modal" data-target="#shoe3-modal">
      <img src="static/images/products-img/men/shoe3.png" alt="">
    </a>
  </div>

  <div class="modal fade" id="shirt1-modal" tabindex="-1" role="dialog" aria-labelledby="shirt1-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shirt1-modal-label">Shirt </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="quantity-shirt1">Quantity:</label>
              <input type="number" id="quantity-shirt1" class="form-control" value="1" min="1" max="5">
            </div>
            <div class="form-group">
              <label for="size-shirt1">Size:</label>
              <select id="size-shirt1" class="form-control">
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
                <option value="xlarge">X-Large</option>
              </select>
            </div>
            <button type="button" class="btn btn-primary" onclick="addToCart('shirt1')">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="shirt2-modal" tabindex="-1" role="dialog" aria-labelledby="shirt2-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shirt2-modal-label">Joggers </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="quantity-shirt2">Quantity:</label>
              <input type="number" id="quantity-shirt2" class="form-control" value="1" min="1" max="5">
            </div>
            <div class="form-group">
              <label for="size-shirt2">Size:</label>
              <select id="size-shirt2" class="form-control">
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
                <option value="xlarge">X-Large</option>
              </select>
            </div>

            <button type="button" class="btn btn-primary" onclick="addToCart('shirt2')">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="shirt3-modal" tabindex="-1" role="dialog" aria-labelledby="shirt3-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shirt3-modal-label">jeans </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="quantity-shirt3">Quantity:</label>
              <input type="number" id="quantity-shirt3" class="form-control" value="1" min="1" max="5">
            </div>
            <div class="form-group">
              <label for="size-shirt3">Size:</label>
              <select id="size-shirt3" class="form-control">
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
                <option value="xlarge">X-Large</option>
              </select>
            </div>

            <button type="button" class="btn btn-primary" onclick="addToCart('shirt3')">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Shoe modals -->
  <div class="modal fade" id="shoe1-modal" tabindex="-1" role="dialog" aria-labelledby="shoe1-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shoe1-modal-label">Shoe 1</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="quantity-shoe1">Quantity:</label>
              <input type="number" id="quantity-shoe1" class="form-control" value="1" min="1" max="5">
            </div>
            <div class="form-group">
              <label for="size-shoe1">Size:</label>
              <select id="size-shoe1" class="form-control">
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
                <option value="xlarge">X-Large</option>
              </select>
            </div>
            <button type="button" class="btn btn-primary" onclick="addToCart('shoe1')">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="shoe2-modal" tabindex="-1" role="dialog" aria-labelledby="shoe2-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shoe2-modal-label">Shoe 2</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="quantity-shoe2">Quantity:</label>
              <input type="number" id="quantity-shoe2" class="form-control" value="1" min="1" max="5">
            </div>
            <div class="form-group">
              <label for="size-shoe2">Size:</label>
              <select id="size-shoe2" class="form-control">
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
                <option value="xlarge">X-Large</option>
              </select>
            </div>
            <button type="button" class="btn btn-primary" onclick="addToCart('shoe2')">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="shoe3-modal" tabindex="-1" role="dialog" aria-labelledby="shoe3-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shoe3-modal-label">Shoe 3</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="quantity-shoe3">Quantity:</label>
              <input type="number" id="quantity-shoe3" class="form-control" value="1" min="1" max="5">
            </div>
            <div class="form-group">
              <label for="size-shoe3">Size:</label>
              <select id="size-shoe3" class="form-control">
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
                <option value="xlarge">X-Large</option>
              </select>
            </div>
            <button type="button" class="btn btn-primary" onclick="addToCart('shoe3')">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    $('.shirt1-modal').click(function () {
      $($(this).data('target')).modal();
    });

    $('.joggers1-modal').click(function () {
      $($(this).data('target')).modal();
    });

    $('.jeans2-modal').click(function () {
      $($(this).data('target')).modal();
    });

    $('#shoe1-modal').click(function () {
      $($(this).data('target')).modal();
    });

    $(' #shoe2-modal').click(function () {
      $($(this).data('target')).modal();
    });

    $('#shoe3-modal').click(function () {
      $($(this).data('target')).modal();
    });

    function hideButton() {
      const button = document.getElementById("myButton");
      button.style.display = "none";
    }


    document.addEventListener("DOMContentLoaded", function () {
      const button = document.getElementById("myButton");
      const image = document.getElementById("men_image");
      console.log(image)
      button.addEventListener("click", function () {
        image.src = "static/images/index-img/shoessss.jpg";
      });
    });


    function addToCart(shirtId) {
      // Get the quantity and size values from the form
      var quantity = parseInt(document.getElementById('quantity-' + shirtId).value);
      var size = document.getElementById('size-' + shirtId).value;
      console.log(quantity)

      var price = getRandomPrice(10, 20)

      // Calculate the total price
      var totalPrice = quantity * price;
      console.log(totalPrice)

      // Add the item to the cart
      var item = {
        eachprice: price,
        id: shirtId,
        size: size,
        quantity: quantity,
        price: totalPrice
      };
      addItemToCart(item);

      // Reset the form values
      document.getElementById('quantity-' + shirtId).value = 1;
      document.getElementById('size-' + shirtId).selectedIndex = 0;
    }

    function getRandomPrice(min, max) {
      return Math.random() * (max - min) + min;
    }

    function addItemToCart(item) {
      // Code to add item to cart goes here
      window.alert(" price = " + item.eachprice + "\n" + " Total price =" + item.price);

      console.log('Added item to cart:', item);
    }



  </script>


  <!-- Include Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
    integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
    integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
    crossorigin="anonymous"></script>


</body>
<footer class="footer">
  <div class="container">
    <p class="footer-text">Fashion Avenue@Copyright</p>
  </div>
</footer>

</html>